*{
box-sizing: border-box;
list-style: none;
text-decoration: none;
}
body {
    margin: 0;
    height: 100vh;
    background: #f6f2f9;
    color: #222222;
    font-family: "Urbanist", "Poppins";
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    z-index: 1000;
  }
  
  nav a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    font-weight: 550;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  nav a.active {
    color: #8f44fd;
  }
  
  nav ul {
    display: flex;
    gap: 65px;
    list-style-type: none;
  }
  
  main article {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 80px 60px;
  }
  
  main article img {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
  
  .bars {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    pointer-events: none;
  }
  
  @keyframes show {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes hide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .bars > div {
    background: #8f44fd;
    transform: translateX(-100%);
  }
  
  .bars.show > div {
    animation: show 0.2s both ease-in-out;
  }
  
  .bars.hide > div {
    animation: hide 0.2s both ease-in-out;
  }